# Application Configuration
NODE_ENV=development
PORT=8080

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#App URL Configuration
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=

# Database Container Configuration (for Docker Compose)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT Configuration
ACCESS_TOKEN_SECRET=your-super-secret-access-token-key-change-this-in-production
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=your-super-secret-refresh-token-key-change-this-in-production
REFRESH_TOKEN_EXPIRY=7d

# Redis Configuration
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail Configuration
SMPT_HOST=smtp.gmail.com
SMPT_PORT=465
SMPT_USER=
SMPT_PASSWORD=
SMPT_SECURE=true
SMPT_SERVICE=gmail